<h1>Time Entries</h1>

<%= link_to 'New Time Entry', new_time_entry_path %>

<h2>Week of <%= @work_week_start.strftime('%d-%m-%Y') %> to <%= @work_week_end.strftime('%d-%m-%Y') %></h2>

<p>Total Hours Worked this Week: <%= @total_hours %></p>

<% if @hours_difference < 0 %>
  <p>You need to work <%= TimeEntry.format_decimal_hours_to_hours_minutes(-@hours_difference) %> more hours this week to meet your 37-hour contract.</p>
<% elsif @hours_difference > 0 %>
  <p>You have worked <%= TimeEntry.format_decimal_hours_to_hours_minutes(-@hours_difference) %> more hours than your 37-hour contract this week. Great job!</p>
<% else %>
  <p>You have met your 37-hour contract for this week.</p>
<% end %>

<%= link_to 'Previous Week', time_entries_path(week_start: @week_start - 7.days) %> |
<%= link_to 'Next Week', time_entries_path(week_start: @week_start + 7.days) %>

<ul>
  <% @time_entries.each do |entry| %>
    <li>
      Clocked in: <%= entry.clock_in %><br>
      Clocked out: <%= entry.clock_out || "Not clocked out yet" %><br>
      Lunch Duration: <%= entry.lunch_duration_in_hours_and_minutes || 0 %> hours<br>
      Hours Worked: <%= entry.hours_worked_in_hours_and_minutes %><br>
      <%= link_to 'Edit', edit_time_entry_path(entry) %>
       <%= form_with url: time_entry_path(entry), method: :delete, local: true, style: "display:inline;" do %>
        <%= submit_tag 'Delete', data: { confirm: 'Are you sure?' } %>
      <% end %>
    </li><br>
  <% end %>
</ul>