<h1>New Time Entry</h1>

<%= form_with(model: @time_entry, local: true) do |form| %>
  <% if @time_entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(time_entry.errors.count, "error") %> prohibited this time entry from being saved:</h2>

      <ul>
        <% @time_entry.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :clock_in %>
    <%= form.datetime_select :clock_in %>
  </div>

  <div class="field">
    <%= form.label :clock_out %>
    <%= form.datetime_select :clock_out %>
  </div>

<br>
<br>

  <div>
    <%= form.label :lunch_in %>
    <%= form.datetime_select :lunch_in %>
  </div>

   <div>
    <%= form.label :lunch_out %>
    <%= form.datetime_select :lunch_out %>
  </div>

<br>

  <div class="actions">
    <%= form.submit %>
  </div>

<br>

  <%= link_to 'Back to Time Entries', time_entries_path %>
<% end %>